# Gradle
.gradle/
build/

# IntelliJ
.idea/
*.iml
out/

# Logs/OS
*.log
.DS_Store
Thumbs.db

/test_files/*
!/test_files/.gitkeep
/patterns.db
/my_doc.pdf
/my_picture.jpg
/File Type Analyzer (Java)/
/src/

/src/main/resources/patterns.db
